@model Rate

<form asp-action="Edit">
    <input type="hidden"  name="id" asp-for="Id"/>
    <div>
        <label>Name:</label>
        <input name="name" asp-for="Name"/>
    </div>
     <div>
        <label>Rating:</label>
        <input name="rating" asp-for="Rating"/>
        <span asp-validation-for="Rating"></span>
    </div>
     <div>
        <label>Description:</label>
        <input name="description" asp-for="Description"/>
    </div>
     <div>
        
        <input type="submit"/>
    </div>


</form>
