<form asp-action="Add">
    <div>
        <label>Name:</label>
            <input name="name" />
    </div>
    <div>
        <label>Rating:</label>
            <input name="rating" />
    </div>
    <div>
        <label>Description:</label>
            <input name="description"/>
    </div>
    <div>
            <input type="submit"/>
    </div>
    
</form>