<form>
    <div>
        <label>Name:</label>
            <input />
    </div>
    <div>
        <label>Rating:</label>
            <input />
    </div>
    <div>
        <label>Description:</label>
            <input />
    </div>
</form>