@model Rate


<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.Rating</li>
    <li>@Model.Description</li>
</ul>

<form asp-action="Delete">

    <div>
        <label>Are you sure you want to delete?</label>
        <input type="submit" value="Delete" />
    </div>

</form>