@model Rate

<form asp-action="Edit">
    <input type="hidden"  name="id" value="@Model.Id"/>
    <div>
        <label>Name:</label>
        <input name="name" value="@Model.Name"/>
    </div>
     <div>
        <label>Rating:</label>
        <input name="rating" value="@Model.Rating"/>
    </div>
     <div>
        <label>Description:</label>
        <input name="description" value="@Model.Description"/>
    </div>
     <div>
        
        <input type="submit"/>
    </div>


</form>
